.user-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  &-search-form {
    border: none;
    margin-right: 1rem;
  }

  &-search-bar {
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    display: block;
    padding: 9px 4px 9px 3.5rem;
    background: #fff
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat 20px center;
  }

  &-select {
    width: 10rem;
    padding: 9px 4px 9px 3px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
  }

  @media (max-width: 576px) {
    flex-direction: column;

    &-search-form {
      margin-right: 0;
    }

    &-select {
      margin-top: 1rem;
    }
  }
}

.user-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem 0;

  //   card columns for different screen sizes
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.user-card {
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.65rem;
    background-color: #cdc8b5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &-image {
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    outline: 3px solid #cdc8b5;
    padding: 5px;
    position: relative;
    z-index: 10;
  }

  &-designation {
    font-weight: 600;
  }
}

.user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  padding: 2rem;

  &-image {
    width: 100%;
  }

  @media (max-width: 576px) {
    & {
      grid-template-columns: 1fr;

      &-image {
        width: 75%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
